body {
  background-color: rgb(53, 53, 151);
}

#header-section {
  background-color: #f5f5f5;
  color: navy;
  height: 80px;
}

#search-content {
  background-color: rgba(255, 255, 255, 0.425);
  height: 100vh;
  border-radius: 10px;
  margin-left: 10px;
}

#search-content h4 {
  padding-top: 10px;
}

#city-search-buttons {
  width: 100%;
  margin-bottom: 2%;
}

#forecast-results {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 10px;
  display: none;
}

#current-day-div {
  border: solid 1px black;
  margin-top: 20px;
  border-radius: 10px;
  display: none;
}

#current-day-div h2 {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}

#current-day-div p {
  padding-left: 20px;
}

#weather-details {
  color: rgb(6, 7, 6);
  font-weight: bold;
}

#five-day-forecast {
  margin-top: 10px;
  display: none;
}

#five-day-forecast h2 {
  font-weight: bold;
}

#five-day-forecast .card {
  background-color: rgb(87, 140, 192);
  color: rgb(37, 38, 83);
  width: 12rem;
  display: inline-block;
}
